@media screen and (max-width: 1024px) {
  .container2 {
    display: flex;
    width: 100vw; } }

@media screen and (max-width: 680px) {
  .container2 {
    flex-direction: column;
    display: flex;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .container2 {
    flex-direction: column;
    display: flex;
    align-items: center; } }

@media screen and (max-width: 680px) {
  .footer-main {
    bottom: 0; } }

@media screen and (max-width: 480px) {
  .footer-main {
    flex-direction: column;
    bottom: 0; } }

@media screen and (max-width: 680px) {
  .text1 {
    width: 100vw; } }

@media screen and (max-width: 480px) {
  .text1 {
    width: 100vw; } }

.header-main {
  background-color: #eb4242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 80px;
  margin: auto;
  position: fixed;
  top: 0; }
  .header-main h1 {
    font-family: Arial, Helvetica, sans-serif; }
  .header-main .header-left {
    margin-left: 20px; }
  .header-main .header-right {
    margin-top: 30px;
    margin-right: 20px; }

.container2 {
  height: 600px;
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between; }
  .container2 img {
    width: 400px;
    height: 400px; }

.footer-main {
  height: 80px;
  width: 99%;
  background-color: #eb4242;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-right: 20px;
  position: fixed;
  bottom: 0; }
  .footer-main h1 {
    font-family: Arial, Helvetica, sans-serif; }

.text1 {
  width: 400px; }

.text2 {
  width: 400px; }

.text3 {
  width: 400px;
  margin-bottom: 100px; }

@media screen and (max-width: 1024px) {
  .header-left {
    font-size: 20px; } }
