// @mixin pc{
//     @media screen and(max-width: 1024px){
//         background-color:#e4ee;
//     }
    
// }
@mixin pc{
    @media screen and(max-width: 1024px){
        @content;
    }
    
}
 @mixin tab{
            @media screen and(max-width: 680px){
                @content;
            }
 }
 @mixin sp{
    @media screen and(max-width: 480px){
        @content;
    }
}
.main-container{
    @include pc{
        display: flex;
        justify-content: center;
        margin-bottom: 200px;

    }

    @include tab{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 200px;
        
        
        
    }
    @include sp{
        flex-direction: column;

        justify-content: center;
        margin-bottom: 200px;
    }
    
}



 @mixin tab{
            @media screen and(max-width: 680px){
                @content;
            }
 }
 @mixin sp{
    @media screen and(max-width: 480px){
        @content;
    }
}
.main-footer{
   

    @include tab{

        bottom: 0;
        
        
        
    }
    @include sp{
        flex-direction: column;
        bottom: 0;
        
       
    }

}
