@import 'variables';
@import 'mixin';
.header-main{
    background-color:$red ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 99%;
    height: 80px;
    margin: auto;
    position: fixed;
    top: 0;
    h1{
        font-family:Arial, Helvetica, sans-serif;
    }
    .header-left{
        margin-left: 20px; ;
    }
    .header-right{
        margin-top: 30px;
        margin-right: 20px;
    }
}
.container2{
    height: 600px;
    margin-top: 100px;;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    img{
        width: 400px;
        height: 400px;
    }
}
.footer-main{
    height: 80px;
    width: 99%;
    background-color:$red ;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 20px;
    position: fixed;
    bottom: 0;
    h1{
        font-family:Arial, Helvetica, sans-serif;
    }
}
.text1{
    width: 400px;
}
.text2{
    width: 400px;
}
.text3{
    width: 400px;
    margin-bottom: 100px;
}
@media screen and (max-width:1024px){
    .header-left {
        font-size: 20px;
    }
}